<h1>Home Page!</h1>

<h2>All Blogs</h2>
{{#each blogs}}
    <div class = "card">
        <a href="/blog/{{id}}"><h3>{{title}}</h3></a>
        <p>{{blog_content}}</p>
        <hr>
    </div>
{{/each}}