<h2>Login</h2>
<form action="" class="login">
    <input type="text" name="loginEmail" id="loginEmail" placeholder="loginEmail">
    <input type="password" name="loginPassword" id="loginPassword" placeholder="loginPassword">
    <button>Login</button>
</form>
<hr>
<h2>Signup</h2>
<form action="" class="signup">
    <input type="text" name="signupEmail" class="signupEmail" placeholder="signupEmail">
     <input type="text" name="signupName" class="signupName" placeholder="signupName">
    <input type="password" name="signupPassword" class="signupPassword" placeholder="signupPassword">
    <button>Signup</button>
</form>

<script src="/js/login.js"></script>